[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
torch = "*"
scikit-learn = "*"
soundfile = "*"
mlflow = "==2.8.0"
dagshub = "==0.3.8.post2"
tensorboard = "*"
pytorch-lightning = "*"
gviz-api = "==1.10.0"
jupyterlab = "==4.0.7"
rpds-py = "==0.10.6"
seaborn = "==0.13.0"
tensorboard-plugin-profile = "==2.14.0"
dataclasses-json = "==0.6.1"
fastjsonschema = "==2.18.1"
jsonschema = "==4.19.2"
jsonschema-specifications = "==2023.7.1"
jupyter-events = "==0.8.0"
jupyter-server = "==2.9.1"
jupyterlab-server = "==2.25.0"
nbclient = "==0.8.0"
nbconvert = "==7.10.0"

[dev-packages]
ipykernel = "*"
dvc = "*"
dvc-s3 = "*"
matplotlib = "*"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
